# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.xml
*.cmake
*.iml
*.txt
*.log
*.bin
*cmake-*

lab4/.ipynb_checkpoints/Untitled-checkpoint.ipynb
lab4/russian_names.csv
lab4/Untitled.ipynb
*.db
lab6/.vs/lab6/v15/.suo
*.opendb
*.ipch
*.pdb
*.exp
*.user
*.filters
*.vcxproj
lab6/Dll1/Debug/Dll1.tlog/unsuccessfulbuild
*.lastbuildstate
*.ilk
*.db-wal
*.tlog
*.db-shm
*.sln
*.idb
